<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
    <title>Controle de Vacinas</title>

    <script>
        function toggleNightMode() {
            document.body.classList.toggle('night-mode');
            var currentMode = document.body.classList.contains('night-mode') ? 'night' : 'day';
            localStorage.setItem('mode', currentMode);

            var imgElement = document.getElementById('vacinacao');
            if (currentMode === 'night') {
                imgElement.src = '{{ url_for("static", filename="vacinacao02.png") }}';
            } else {
                imgElement.src = '{{ url_for("static", filename="vacinacao01.png") }}';
            }
        }

        window.onload = function () {
            var savedMode = localStorage.getItem('mode');
            if (savedMode === 'night') {
                document.body.classList.add('night-mode');

                var imgElement = document.getElementById('vacinacao');
                imgElement.src = '{{ url_for("static", filename="vacinacao02.png") }}';
            }
        }
    </script>
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='Brasão_do_Paraná.svg') }}" width="100px" height="100px" alt="Logo"
            style="float: left;">
        <h1>Controle de Vacinas</h1>
    </header>

    <nav>
        <ul>
            <li><a href="https://www.gov.br/saude/pt-br">Gov.br</a></li>
            <li><a href="https://www.gov.br/saude/pt-br/campanhas-da-saude/vacinacao">Campanhas de Vacinação</a></li>
            <li><a href="https://www.gov.br/saude/pt-br/campanhas-da-saude/2024/gripe">Campanha Nacional de Vacinação
                    contra Gripe</a></li>
            <li><a href="https://www.gov.br/saude/pt-br/campanhas-da-saude/2023/multivacinacao">Campanha de
                    Multivacinação</a></li>
        </ul>
    </nav>

    <button id="theme-toggle" onclick="toggleNightMode()"
        style="float: right; background: none; border: none; cursor: pointer;">
        <img src="{{ url_for('static', filename='tema.svg') }}" width="30px" height="30px" alt="Toggle Theme">
    </button>

    <main>
        <a class="button" href="{{ url_for('consultas') }}">Consultas</a>
        <br><br>
        <a class="button" href="{{ url_for('lancamentos') }}">Lançamentos</a>
        <br><br><br>
        <img id="vacinacao" src="{{ url_for('static', filename='vacinacao01.png') }}" alt="Img campanha">
    </main>

    <footer>
        <p>&copy; 2024 Controle de Vacinas</p>
        <p>by Herick Costa</p>
    </footer>
</body>

</html>
